*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;

}
header{
    border-bottom: 1px solid dimgray;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
header div{
    text-transform: uppercase;
    font-size: 1.2rem;
}
#main-content{
    flex-grow: 1;
}
footer{
    text-align: center;
    padding: 20px;
    font-size: 0.8rem;
}