*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;

}
a{
    color: inherit;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: whitesmoke;
}
header div{
    text-transform: uppercase;
    font-size: 1.2rem;
}
#main-content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main-content div{
    text-align: center;
    line-height: 50px;
}
h1{
    font-size: 2.5rem;
}
#main-content > p {
    margin: 20px 0;
}
#main-content button{
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: deepskyblue;
    color: whitesmoke;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 0.8rem;
    padding: 15px;
    line-height: 25px;
    color: #9d9d9d;
    background-color: #313131;
}
.fa-solid{
    color: dimgray;
    margin-right: 5px;
}
.fa-linkedin{
    color: dimgray;
}
.fa-github{
    color: dimgray;
    margin-left: 5px;
}
#main-add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    gap: 10px;
    background-color: whitesmoke;
    padding: 20px;
}
input{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}
textarea{
    padding: 5px;
}
#main-add button{
    margin-top: 10px;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #198854;
    color: whitesmoke;
    text-transform: uppercase;
}
.ranking-container{
    display: flex;
    padding: 5px;
    gap: 5px;
}
.active{
    color: #dabd18b2;
}
.fa-star{
    cursor: pointer;
}
#main-books{
    flex-grow: 1;
}
.ranking-show-container{
    border: 1px solid dimgray;
}

@media(max-width: 600px) {
    footer{
        font-size: 0.6rem;
        flex-direction: column;
        gap: 0;
    }
}
