/*RESET/Cross browser compatibility*/

* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100dvh;
    color: whitesmoke;
    font-family: Roboto,Arial,sans-serif;

}

input,
textarea,
button {
    font-family: inherit;
    font-size: 1rem;
    border: 1px solid #ccc;
    color: black;
    background-color: white;
    outline: none;
}

/*Global styling*/

a {
    text-decoration: none;
}

h1, h2 {
    font-family: Raleway, sans-serif;
    font-weight: 500;
}

p {
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: 300;
}


/*home page styling*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 0 15px 0 5px;
}
.logo {
    height: 70%;
}
.add-icon {
    height: 30%;
}
header a {
    font-family: Raleway, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: whitesmoke;
    height: 100%;
}
main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: center;
    background-image: url("../images/ren-hosoya-xYI_dcYIQas-unsplash (1).jpg");
    background-size: cover;
    background-position: center;
}
.home-page-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.welcome-txt {
    font-family: Raleway, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-weight: 400;
}
.home-page-title {
    font-family: Alice, serif;
    font-size: 4.5rem;
    font-weight: 400;
}
.btn {
    color: black;
    padding: 20px;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    background-color: whitesmoke;
    margin-top: 50px;
}
footer {
    font-family: Roboto, sans-serif;
    font-size: 0.8rem;
    padding: 20px;
    text-align: center;
    width: 100%;
}

/*new/edit posts styling*/

.form-cont {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    background-color: whitesmoke;
    border-radius: 5px;
    width: 500px;
}
.form-title {
    color: dimgray;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 10px;
}
input, textarea {
    padding: 5px;
    border-radius: 5px;
}
form button {
    border: 1px solid dimgray;
    width: 80px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

/*posts styling*/

.posts-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}
.posts-content {
    max-height: 800px;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 20px;
    overflow-y: scroll;
    color: black;
}
.posts-page-title {
    display: flex;
    justify-content: center;
    font-size: 2.7rem;
    margin: 20px auto;
}
.posts-title {
    font-size: 1.7rem;
    padding: 5px;
}
.post-text {
    white-space: pre-line;
    padding: 5px;
}
.author, .date {
    font-size: 0.8rem;
}
.date {
    margin-top: 5px;
}
.edit-btn, .delete-btn {
    cursor: pointer;
    display: inline-block;
    height: 100%;
    margin-top: 15px;
    color: whitesmoke;
    padding: 8px;
    border-radius: 5px;
}
.separator {
    border-top: 1px solid #c0c0c0;
    margin: 30px auto;
}
.edit-btn {
    background-color:#ffc107 ;
}
.delete-btn {
    background-color: #dc3545;
    margin-left: 5px;
}

/*No posts error message styling*/

.no-post-msg {
    opacity: 0;
    text-align: center;
    transition: opacity 0.4s ease;
    padding: 40px 20px 20px 20px;
}
.no-post-msg.visible {
    opacity: 1;
}


/*Validation errors*/

.form-error {
    color: red;
    margin-top: 0;
    font-size: 0.9em;
}

/*404 Page*/

.content-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.txt-404 {
    font-size: 3rem;
    text-align: center;
}


/*Media Queries*/

@media (max-width:740px) {
    header a{
        font-size: 1rem;
    }

    /*home page*/

    .welcome-txt {
        font-size: 1.4rem;
    }
    .home-page-title {
        font-size: 2rem;
    }
    .fact-text {
        text-align: center;
        font-size: 0.9rem;
    }
    .btn {
        font-size: 0.8rem;
    }
    footer{
        font-size: 0.7rem;
    }

    /*Add-edit page*/

    form{
        max-width: 300px;
    }
    .form-title {
        font-size: 2rem;
    }
    input, textarea {
        font-size: 0.9rem;
    }
    ::placeholder {
        font-size: 0.8rem;
    }

    /*Posts page*/

    .posts-page-title {
       font-size: 2.1rem;
    }
    .posts-title {
        font-size: 1.3rem;
    }
    .post-text{
        font-size: 0.9rem;
        }

    /*404 page*/

    .txt-404 {
        font-size: 2rem;
    }
}