<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/styles/main.css">
    <title>404 page</title>
</head>
<body >
<header id="error-page-header">
    <a href="/"><div>Virtual Bookroom</div></a>
</header>
<main id="error-page">
    <% if (locals.status && locals.error) { %>
        <h1><%= status %></h1>
        <p><%= error.message %></p>
        <% if (error.details && error.details.length > 0) { %>
            <% error.details.forEach(err => { %>
                <p><%= err.msg %></p>
            <% }) %>
        <% } %>

    <% } else { %>
        <h1>404</h1>
        <p>The page or route you're looking for does not exist.</p>
        <% } %>


    <a href="/" class="btn">Return to Home</a>
</main>
</body>
</html>