* {
  padding: 0;
  margin:0;
  border: 0;
  box-sizing: border-box;
}
form {
  display: flex;
  gap: 10px;
}
li {
  list-style: none;
}
.list-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #e2e2e2;
  padding: 0;
}
.btn-cont {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}
.modal-header, .modal-footer {
  border: none
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
  flex-wrap: wrap;
  gap: 10px;
}
.login-form {
  display: flex;
  flex-direction: column;
  min-height: 280px;
  background-color: #eeeeee;
  padding: 2rem;
  border: 1px solid #d1d1d1;
  border-radius: 0.5rem;
}
.auth-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap:20px;
  height: 100vh;
}
.message-container {
  min-height: 2.5rem;
  margin-top: 1rem;
}
.error-message {
  color: #dc3545;
  font-weight: bold;
  text-align: center;
}
.success-message {
  color: #198754;
  font-weight: bold;
  text-align: center;
}

.auth-options {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

/*NotFound page*/

#page-404 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.not-found-text {
  text-align: center;
}

@media (max-width: 576px) {
  .auth-options {
    flex-direction: column;
    align-items: center;
  }
  .auth-options button {
    width: 50%;
  }
}

