*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}
a{
    color: inherit;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 25px 30px;
    background-color: rgba(245, 245, 245, 0.8);
    position: fixed;
    width: 100%;
}
header div{
    text-transform: uppercase;
    font-size: 1.2rem;
}
#main-content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
#main-content div{
    text-align: center;
    line-height: 50px;
    margin-top: 4rem;
}
h1{
    font-size: 2rem;
}

.btn {
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: deepskyblue;
    color: whitesmoke;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    gap: 20px;
    padding: 15px;
    line-height: 25px;
    color: #9d9d9d;
    background-color: #313131;
}
.fa-solid{
    color: dimgray;
    margin-right: 5px;
}
.fa-linkedin{
    color: dimgray;
}
.fa-github{
    color: dimgray;
    margin-left: 5px;
}
.main-add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
}
.main-add form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    background-color: whitesmoke;
    padding: 20px;
    margin-top: 6rem;
}
textarea{
    width: 100%;
}
input::placeholder, textarea::placeholder{
    color: black;
}
.main-add input{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}
textarea{
    padding: 5px;
}
.main-add button{
    margin-top: 10px;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #198854;
    color: whitesmoke;
    text-transform: uppercase;
}
.ranking-container{
    display: flex;
    padding: 5px;
    gap: 5px;
}
.active{
    color: #dabd18b2;
}
.fa-star{
    cursor: pointer;
}
#main-books{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 10px;
}
#sort-form{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: start;
    margin-top: 5rem;
    padding: 10px 30px
}
#sort-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#sort-form label{
    font-size: 0.8rem;
}
#sort{
    border: 1px solid dimgray;
    padding: 2px;
}
.book-container{
    padding: 20px 30px;
}
.book-cover{
    float: left;
    width: 100px;
    margin-right: 30px;
}
.book-title{
    font-family: "Noto Serif", serif;
    font-size: 1.7rem;
    text-decoration: underline;
    font-weight: 400;
}
.date-read {
    color: dimgray;
    margin: 10px;
}

.reader_name {
    color: dimgray;
    padding-left: 30px;
}

.ranking-display{
    margin-bottom: 10px;
}
.review{
    line-height: 2rem;
    font-size: 1.1rem;
}
.line-break-fix {
    white-space: pre-line;
}
#edit-delete-container{
    display: flex;
    gap: 20px;
    padding: 10px 30px;
}
.delete, .edit{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: whitesmoke;
}
.delete{
    background-color: #dc3545;
}
.edit{
    background-color: #fcc107;
    color: black;
}
.star-display{
    cursor: auto;
}
.no-books-error{
    font-size: 1.5rem;
}
.error{
    margin-bottom: 5px;
}
.fa-exclamation-triangle{
    color: #fcc107;
    margin-top: 30px;
}

input[readonly] {
    color: #555;
    opacity: 0.8;
    font-style: italic;
}

/*404 styling*/

#page-404 {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
}

#header-404 {
    padding-left: 0;
    justify-content: center;
}

#page-404 h1 {
    font-size: 3rem;
}

#page-404 p {
    font-size: 1.5rem;
    text-align: center;
}

#page-404 .btn {
    margin-top: 50px;
}


/*Media Queries*/
@media(max-width: 600px) {
    footer{
        font-size: 0.6rem;
        flex-direction: column;
        gap: 0;
    }
}
@media(max-width: 400px) {
    .book-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .book-title{
        font-size: 1.5rem;
        text-align: center;
    }
}