<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
    <link rel="manifest" href="/images/site.webmanifest" />
    <title>Home - Maan Design Studio</title>
    <script src="/script.js" defer></script>
</head>
<body>
<!--Form errors-->
<div id="toast-container"></div>
<div class="spinner-cont">
    <div class="spinner"></div>
</div>
<header>
    <a href="/"><img class="logo" src="/images/logo.svg" alt="Maan Design Studio logo"></a>
    <nav>
        <button class="ham-menu-btn"><svg class="ham-menu-img"><use xlink:href="/images/icons.svg#menu"></use></svg></button>
    </nav>
</header>
<!--flyout menu-->
<div class="off-screen-menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
    </ul>
</div>
<section id="top-section">
    <h1>We design serene, thoughtfully crafted spaces that enhance the everyday living experience</h1>
    <div id="top-img-container">
        <img class="top-img" src="/images/photo-for-front-page.jpg" alt="Entrance">
        <article class="top-txt-cont">
            <div class="txt-cont">
                <h2>Our Mission:</h2>
                <p>To create spaces that enhance the quality of everyday life while leaving a lasting impression. We design environments that are not only serene and memorable, but also highly functional embodying the essence of ‘Maan’, a sense of purpose and meaning that transforms  the way people experience the spaces they inhabit.</p>
            </div>
        </article>
    </div>
    <div id="top-btn-container">
        <a href="#btm-section" class="top-btn">Inquire now</a>
    </div>
</section>
<section id="mid-section">
    <img class="mid-img" src="/images/thom-bradley-0N5YRJgb0js-unsplash.jpg" alt="Living room">
    <article class="mid-txt-cont">
        <div class="txt-cont">
            <h2>Our Ethos:</h2>
            <p>Your home is a reflection of who you are, nurturing your well-being and enhancing your everyday life. It should feel welcoming and safe, offering comfort from the moment you step inside. It reflects your identity with personal touches, creating a space that tells your story. It's a place where you can relax, be inspired, and connect with loved ones.</p>
        </div>
    </article>
</section>
<section id="btm-section">
    <div class="btm-left-cont">
        <h2>Have a project in mind?<br>Let's talk!</h2>
        <form id="contact-form">
            <div class="input-container">
                <input type="text" name="firstname" placeholder="First Name" autocomplete="off" aria-label="First Name">
                <input type="text" name="lastname" placeholder="Last Name" autocomplete="off" aria-label="Last Name">
                <input type="email" name="email" placeholder="Your email address" autocomplete="off" aria-label="Email">
                <input type="text" name="phone" placeholder="Phone" autocomplete="off" aria-label="Phone">
            </div>
            <textarea name="text" placeholder="Your message" id="textarea" cols="50" rows="10" aria-label="Your Message"></textarea>
            <div>
                <button class="btm-btn" type="submit">Submit</button>
            </div>
        </form>
        <div class="btm-info">
            <a href="https://www.instagram.com/studiomaandesign?igsh=MWE0ZXZ1eHZkNXZ2ZQ%3D%3D&utm_source=qr"><svg class="instagram-icon"><use xlink:href="/images/icons.svg#instagram"></use></svg></a>
            <p><span>Get in touch</span><br><span>Whatsapp</span><br><span>+15712238640</span><br><span>info@maandesignstudio.com</span>
            </p>
        </div>
    </div>
    <img class="btm-img" src="/images/suhyeon-choi-ehxwis6Ltxg-unsplash.jpg" alt="Living room couch">
</section>
<footer>
    <div></div>
</footer>
</body>
</html>
