<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous" defer></script>
    <link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
    <link rel="manifest" href="/images/site.webmanifest" />
    <title>Nulla - Maan Design Studio</title>
    <script src="/script.js" defer></script>
</head>
<body>
<div class="spinner-cont">
    <div class="spinner"></div>
</div>
<header>
    <a href="/"><img class="logo" src="/images/logo.svg" alt="logo"></a>
    <nav>
        <a href="#"><svg class="ham-menu-img"><use xlink:href="/images/icons.svg#menu"></use></svg></a>
    </nav>
</header>
<div class="off-screen-menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/founder">Meet the founder</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
    </ul>
</div>
<section id="nulla">
    <div class="txt">
        <h2>Town House Development in Sydney, Australia</h2>
        <p>This exclusive development of 15 high-end townhouses is designed for low-maintenance, luxury living in one of Sydney’s most prestigious locations. The boutique project consists of five blocks (A to E), each housing three meticulously crafted, three-level townhouses. These three-bedroom residences feature highly efficient layouts paired with exquisitely finished interiors, offering a perfect blend of elegance and functionality.</p>
        <p>Credits: Work for hire, design copyrights: Attena Group<br>
        Architectural Project manager and team leader: Mahsa Karkhaneh
        </p>
    </div>
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/Nulla%202.jpg" class="d-block w-100" alt="Kitchen">
                </div>
                <div class="carousel-item">
                    <img src="/images/Nulla%203.jpg" class="d-block w-100" alt="Bedroom">
                </div>
                <div class="carousel-item">
                    <img src="/images/Nulla%204.jpg" class="d-block w-100" alt="Bedroom">
                </div>
                <div class="carousel-item">
                    <img src="/images/Nulla%205.jpg" class="d-block w-100" alt="Bathroom">
                </div>
                <div class="carousel-item">
                    <img src="/images/Nulla%206.jpg" class="d-block w-100" alt="Outside and bedroom view together">
                </div>
                <div class="carousel-item">
                    <img src="/images/Nulla%207.jpg" class="d-block w-100" alt="Kitchen and living room view together">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>
<footer>
    <div></div>
</footer>
</body>
</html>