<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
    <link rel="manifest" href="/images/site.webmanifest" />
    <title>Portfolio - Maan Design Studio</title>
    <script src="/script.js" defer></script>

</head>
<body>
<div class="spinner-cont">
    <div class="spinner"></div>
</div>
<header>
    <a href="/"><img class="logo" src="/images/logo.svg" alt="logo"></a>
    <nav>
        <a href="#"><svg class="ham-menu-img"><use xlink:href="/images/icons.svg#menu"></use></svg></a>
    </nav>
</header>
<div class="off-screen-menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/founder">Meet the founder</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
    </ul>
</div>
<section id="portfolio-page-cont">
    <div class="portfolio-cont">
        <div class="card">
            <a href="/state-st"><img class="portfolio-img" src="/images/resized%20-%20505.jpg" alt="state st project"></a>
            <div class="card-body">
                <h2 class="card-text">505 State Street, Brooklyn, NYC</h2>
                <a href="/state-st"><small>> view project</small></a>
            </div>
        </div>
        <div class="card">
            <a href="/kensington-st"><img class="portfolio-img" src="/images/resized-%20kensington%20st.jpg" alt="kensington st project"></a>
            <div class="card-body">
                <h2 class="card-text">3 Kensington Street, Waterloo</h2>
                <a href="/kensington-st"><small>> view project</small></a>
            </div>
        </div>
        <div class="card">
            <a href="/nulla"><img class="portfolio-img" src="/images/resized-%20nulla.jpg" alt="nulla project"></a>
            <div class="card-body">
                <h2 class="card-text">Town House Development, Nulla</h2>
                <a href="/nulla"><small>> view project</small></a>
            </div>

        </div>
    </div>
    <footer>
        <div></div>
    </footer>
</section>