<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
    <link rel="manifest" href="/images/site.webmanifest" />
    <title>Portfolio - Maan Design Studio</title>
    <script src="/script.js" defer></script>

</head>
<body>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" style="display:none">
    <symbol id="menu" viewBox="0 0 26.458333 26.458333">
        <path
                d="m 28.761719,28.925781 h 9.75 c 0.1875,0 0.375,-0.164062 0.375,-0.375 v -0.9375 c 0,-0.1875 -0.1875,-0.375 -0.375,-0.375 h -9.75 c -0.210938,0 -0.375,0.1875 -0.375,0.375 v 0.9375 c 0,0.210938 0.164062,0.375 0.375,0.375 z m 0,3.75 h 9.75 c 0.1875,0 0.375,-0.164062 0.375,-0.375 v -0.9375 c 0,-0.1875 -0.1875,-0.375 -0.375,-0.375 h -9.75 c -0.210938,0 -0.375,0.1875 -0.375,0.375 v 0.9375 c 0,0.210938 0.164062,0.375 0.375,0.375 z m 0,3.75 h 9.75 c 0.1875,0 0.375,-0.164062 0.375,-0.375 v -0.9375 c 0,-0.1875 -0.1875,-0.375 -0.375,-0.375 h -9.75 c -0.210938,0 -0.375,0.1875 -0.375,0.375 v 0.9375 c 0,0.210938 0.164062,0.375 0.375,0.375 z"
                id="text1"
                style="font-family:'Font Awesome 5 Free';-inkscape-font-specification:'Font Awesome 5 Free';white-space:pre;stroke-width:1000.38"
                transform="matrix(2.1166666,0,0,2.1166666,-57.968554,-54.148632)"
                aria-label="" />
    </symbol>
</svg>
<div class="spinner-cont">
    <div class="spinner"></div>
</div>
<header>
    <a href="/"><img class="logo" src="/images/logo.svg" alt="logo"></a>
    <nav>
        <a href="#"><svg class="ham-menu-img"><use xlink:href="#menu"></use></svg></a>
    </nav>
</header>
<div class="off-screen-menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/founder">Meet the founder</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
    </ul>
</div>
<section id="atf-portfolio">
    <div class="portfolio-cont">
        <div class="card">
            <a href="/state-st"><img class="portfolio-img" src="/images/resized%20-%20505.jpg" alt="state st project"></a>
            <div class="card-body">
                <h2 class="card-text">505 State Street, Brooklyn, NYC</h2>
                <a href="/state-st"><small>> view project</small></a>
            </div>
        </div>
        <div class="card">
            <a href="/kensington-st"><img class="portfolio-img" src="/images/resized-%20kensington%20st.jpg" alt="kensington st project"></a>
            <div class="card-body">
                <h2 class="card-text">3 Kensington Street, Waterloo</h2>
                <a href="/kensington-st"><small>> view project</small></a>
            </div>
        </div>
        <div class="card">
            <a href="/nulla"><img class="portfolio-img" src="/images/resized-%20nulla.jpg" alt="nulla project"></a>
            <div class="card-body">
                <h2 class="card-text">Town House Development, Nulla</h2>
                <a href="/nulla"><small>> view project</small></a>
            </div>

        </div>
    </div>
    <footer>
        <div></div>
    </footer>
</section>