<!doctype html>
<html lang="1">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./main.css">
    <title>Book Notes Project</title>
</head>
<body>
<%- include("./partials/header.ejs") %>
<main id="main-books">
<p><%= locals.rate %> / 5</p>
<div class="ranking-show-container">
    <i class="ranking-show fa-solid fa-star"></i>
    <i class="ranking-show fa-solid fa-star"></i>
    <i class="ranking-show fa-solid fa-star"></i>
    <i class="ranking-show fa-solid fa-star"></i>
    <i class="ranking-show fa-solid fa-star"></i>
</div>
</main>
<%- include("./partials/footer.ejs") %>
<script>
    const date = new Date ();
    const year = date.getFullYear();
    document.querySelector("footer").innerHTML = `<p>Copyright &copy; ${year} - Website created by Nima Karkhaneh</p><p><i class=\"fa-solid fa-envelope\"></i>nimakarkahneh@gmail.com</p><p><a href=\"/\"><i class=\"fab fa-linkedin\"></a></i><a href=\"/\"><i class=\"fa-brands fa-github\"></i></a></p>`;
    const rate = "<%= locals.rate %>"
    const starRating = document.querySelectorAll(".ranking-show");
    console.log(starRating);
    for (let i = 0; i <= rate-1; i++){
        starRating[i].style.color = "#dabd18b2";
    }
</script>
</body>
</html>